html{
    font-size: 9pt;
}
body {
    
    width: 800px;
     width: 50%vw;
    font-size:12pt;
}
article {
    font-size: 1.5em;
}
h2{
    font-size: 2em;
}
.left{
    float:left;
}
.left{
    float:right;
}