body {
    width: 1000px;
    margin: 2 auto;
  }
  
  p {
    background: rgb(135, 221, 255);
    border: 3px solid blue;
    padding: 20px;
    margin: 20px;
  }
  
  span {
    background: rgb(255, 0, 221);
    border: 1px solid rgb(37, 45, 255);
  }